{% extends 'base.html' %}

{% block content %}
  <h2>Your Team's Questionnaires</h2>
  {% if questionnaires %}
    <ul>
      {% for questionnaire in questionnaires %}
        <li>
          <a href="{{ url_for('questionnaire.view_questionnaire', questionnaire_id=questionnaire.id) }}">
            {{ questionnaire.name }}
          </a> - created by {{ questionnaire.user.username }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No questionnaires found for your team.</p>
  {% endif %}
  <a href="{{ url_for('questionnaire.create_questionnaire') }}">Create New Questionnaire</a>
{% endblock %}
