{% extends 'base.html' %}

{% block content %}
  <h2>Your Team's Assessments</h2>
  {% if assessments %}
    <ul>
      {% for assessment in assessments %}
        <li>
          <a href="{{ url_for('assessment.view_assessment', assessment_id=assessment.id) }}">
            {{ assessment.threat_actor }} - {{ assessment.questionnaire.name }}
          </a> - created by {{ assessment.questionnaire.user.username }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No assessments found for your team.</p>
  {% endif %}
  <a href="{{ url_for('questionnaire.list_questionnaires') }}">Back to Questionnaires</a>
{% endblock %}
